# Дать ответ на 5 вопросов, объеденив данные в один файл.

In [1]:
# loading in modules
import sqlite3
import pandas as pd
# creating file path
dbfile = 'logs_20220912.db'
dbfile2 = 'logs_20220913.db'
dbfile3 = 'logs_20220914.db'
# Create a SQL connection to our SQLite database
con = sqlite3.connect(dbfile)
con2 = sqlite3.connect(dbfile2)
con3 = sqlite3.connect(dbfile3)
# creating cursor
cur = con.cursor()
cur2 = con2.cursor()
cur3 = con3.cursor()

# reading all table names
table_list = [a for a in cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")]
# here is you table list
print(table_list)

[('event_name',), ('sqlite_sequence',), ('events',), ('sent_alarms',)]

### Извлекаем информацию из первого файла

In [2]:
con = sqlite3.connect('logs_20220912.db')
cur = con.cursor()
events = []
for row in cur.execute("SELECT * FROM 'events'"):
      events.append(row)       
        
events = pd.DataFrame(events) 
events = events.set_index(0)
events.columns = ['forecastMarker','request_time','event_id','sender','context','session_id']
eve = events.drop(['context',], axis = 1)
eve.head(6)

,forecastMarker,request_time,event_id,sender,session_id
0,,,,,
1,SelfService/RUS/turnover,2022-09-12 11:30:11.106628,1,test_system,6f4277f6df57c4f4e90779966522c876
2,SelfService/RUS/turnover,2022-09-12 11:30:11.111359,29,test_system,6f4277f6df57c4f4e90779966522c876
3,SelfService/RUS/turnover,2022-09-12 11:30:11.115989,2,test_system,6f4277f6df57c4f4e90779966522c876
4,SelfService/RUS/turnover,2022-09-12 11:30:12.761754,3,test_system,6f4277f6df57c4f4e90779966522c876
5,SelfService/RUS/turnover,2022-09-12 11:30:12.770134,5,test_system,6f4277f6df57c4f4e90779966522c876
6,SelfService/RUS/turnover,2022-09-12 11:30:12.780523,6,test_system,6f4277f6df57c4f4e90779966522c876

### Извлекаем информацию из второго файла

In [3]:

con2 = sqlite3.connect('logs_20220913.db')
cur2 = con2.cursor()
events2 = []
for row in cur2.execute("SELECT * FROM 'events'"):
      events2.append(row)       
        
events2 = pd.DataFrame(events2) 
events2 = events2.set_index(0)
events2.columns = ['forecastMarker','request_time','event_id','sender','context','session_id']
eve2 = events2.drop(['context',], axis = 1)
eve2.head(6)

,forecastMarker,request_time,event_id,sender,session_id
0,,,,,
1,None,2022-09-13 00:10:27.967745,1,None,fa89a4d46b9b34761a580f0152f94f05
2,None,2022-09-13 00:10:27.972425,29,None,fa89a4d46b9b34761a580f0152f94f05
3,None,2022-09-13 00:10:27.977883,5,None,fa89a4d46b9b34761a580f0152f94f05
4,None,2022-09-13 00:10:27.982433,8,None,fa89a4d46b9b34761a580f0152f94f05
5,None,2022-09-13 00:10:27.989409,9,None,fa89a4d46b9b34761a580f0152f94f05
6,None,2022-09-13 00:10:27.993587,10,None,fa89a4d46b9b34761a580f0152f94f05

### Извлекаем информацию из третьего файла

In [4]:

con3 = sqlite3.connect('logs_20220914.db')
cur3 = con3.cursor()
events3 = []
for row in cur3.execute("SELECT * FROM 'events'"):
      events3.append(row)       
        
events3 = pd.DataFrame(events3) 
events3 = events3.set_index(0)
events3.columns = ['forecastMarker','request_time','event_id','sender','context','session_id']
eve3 = events3.drop(['context',], axis = 1)
eve3.head(6)

,forecastMarker,request_time,event_id,sender,session_id
0,,,,,
1,None,2022-09-14 00:09:39.234361,1,None,ec6a82e4a1b9b4dc467639eb1a5d6987
2,None,2022-09-14 00:09:39.238851,29,None,ec6a82e4a1b9b4dc467639eb1a5d6987
3,None,2022-09-14 00:09:39.242626,5,None,ec6a82e4a1b9b4dc467639eb1a5d6987
4,None,2022-09-14 00:09:39.248606,8,None,ec6a82e4a1b9b4dc467639eb1a5d6987
5,None,2022-09-14 00:09:39.254990,9,None,ec6a82e4a1b9b4dc467639eb1a5d6987
6,None,2022-09-14 00:09:39.258657,10,None,ec6a82e4a1b9b4dc467639eb1a5d6987

### Извлекаем информацию event_name

In [5]:
event =[]
for row in cur.execute("SELECT * FROM 'event_name'"):
      event.append(row)   
event = pd.DataFrame(event) 
event = event.set_index(0)      
event.columns = ['event_name']
event.head(6)

                                          event_name
0
1                     Инициализируем свойства класса
2        Переход в функцию getParametrsAndRegressors
3  Выход из функции getParametrsAndRegressors с п...
4  Выход из функции getParametrsAndRegressors БЕЗ...
5  Записали в свойства класса гиперпараметры и ре...
6  Начинаем читать данные из BQ по полученному SQ...

### Объединяем все файлы данных (кроме event_name)  в одну таблицу

In [6]:
full = pd.concat([eve, eve2, eve3], ignore_index=True, sort=False)
full.head(6)

,forecastMarker,request_time,event_id,sender,session_id
0,SelfService/RUS/turnover,2022-09-12 11:30:11.106628,1,test_system,6f4277f6df57c4f4e90779966522c876
1,SelfService/RUS/turnover,2022-09-12 11:30:11.111359,29,test_system,6f4277f6df57c4f4e90779966522c876
2,SelfService/RUS/turnover,2022-09-12 11:30:11.115989,2,test_system,6f4277f6df57c4f4e90779966522c876
3,SelfService/RUS/turnover,2022-09-12 11:30:12.761754,3,test_system,6f4277f6df57c4f4e90779966522c876
4,SelfService/RUS/turnover,2022-09-12 11:30:12.770134,5,test_system,6f4277f6df57c4f4e90779966522c876
5,SelfService/RUS/turnover,2022-09-12 11:30:12.780523,6,test_system,6f4277f6df57c4f4e90779966522c876

In [7]:
summ = len(eve.index)+len(eve2.index)+len(eve3.index)
summ #Проверка на соединение данных(Проверял кол-во строк в ручную)

44731

###  Дадим ответ на первый вопрос. 
#### Между какими событиями наибольший шаг, указать пару идентификаторов этих событий

##  Cортируем по сессии и времени события

In [8]:
A1 = full.sort_values(by=['session_id','request_time'])
A1.head()

,forecastMarker,request_time,event_id,sender,session_id
1722,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:29.821083,1,weekly_report.saas,0035de8fad557cfe0b187f24b954195f
1723,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:29.831013,29,weekly_report.saas,0035de8fad557cfe0b187f24b954195f
1724,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:29.836547,2,weekly_report.saas,0035de8fad557cfe0b187f24b954195f
1725,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:31.576231,3,weekly_report.saas,0035de8fad557cfe0b187f24b954195f
1726,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:31.587533,5,weekly_report.saas,0035de8fad557cfe0b187f24b954195f

In [9]:
A1['request_time'] = A1['request_time'].astype("datetime64[ns]")
print('Формат изменен!')

Формат изменен!

In [10]:
A1 = A1.reset_index(drop=True)
A1.head(6)

,forecastMarker,request_time,event_id,sender,session_id
0,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:29.821083,1,weekly_report.saas,0035de8fad557cfe0b187f24b954195f
1,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:29.831013,29,weekly_report.saas,0035de8fad557cfe0b187f24b954195f
2,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:29.836547,2,weekly_report.saas,0035de8fad557cfe0b187f24b954195f
3,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:31.576231,3,weekly_report.saas,0035de8fad557cfe0b187f24b954195f
4,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:31.587533,5,weekly_report.saas,0035de8fad557cfe0b187f24b954195f
5,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:31.594359,6,weekly_report.saas,0035de8fad557cfe0b187f24b954195f

In [11]:
#выводим разницу между событиями
 
rt = []
y = 0
for i in A1['request_time'][1:]:
    step = i - A1['request_time'][y]
    rt.append(step)
    y = y + 1
rt=pd.DataFrame(rt)    
rt.head(6)

                       0
0 0 days 00:00:00.009930
1 0 days 00:00:00.005534
2 0 days 00:00:01.739684
3 0 days 00:00:00.011302
4 0 days 00:00:00.006826
5 0 days 00:00:02.008997

In [12]:
nr = pd.DataFrame({'0 days 00:00:00.000000'}, index =[0]) #Добавляем пустую строку чтобы индексы совпадали
rt = pd.concat([nr, rt]).reset_index(drop = True)
type(rt)

pandas.core.frame.DataFrame

In [13]:
rt["timedelta"] = pd.to_timedelta(rt[0])
rt.head(6)

                        0              timedelta
0  0 days 00:00:00.000000        0 days 00:00:00
1  0 days 00:00:00.009930 0 days 00:00:00.009930
2  0 days 00:00:00.005534 0 days 00:00:00.005534
3  0 days 00:00:01.739684 0 days 00:00:01.739684
4  0 days 00:00:00.011302 0 days 00:00:00.011302
5  0 days 00:00:00.006826 0 days 00:00:00.006826

In [14]:
rt=pd.DataFrame(rt['timedelta'])
ans1 = pd.concat([A1, rt],axis=1)

In [15]:
ans1.loc[ans1['event_id'] == 1, "timedelta"] = '0 days 00:00:00.000000' #заменяем все первые события на 0

In [16]:
ans1.describe() #Узнаем максимум и выводим его

           event_id                  timedelta
count  44731.000000                      44731
mean      16.085757  0 days 00:00:00.451142354
std        8.919804  0 days 00:00:01.736237683
min        1.000000            0 days 00:00:00
25%        9.000000     0 days 00:00:00.005598
50%       16.000000     0 days 00:00:00.008131
75%       24.000000  0 days 00:00:00.059087500
max       34.000000     0 days 00:01:46.548210

In [17]:
ans1.loc[ans1['timedelta'] == '0 days 00:01:46.548210']

,forecastMarker,request_time,event_id,sender,session_id,timedelta
13623,weekly_report.care:count_of_jivo_SA,2022-09-14 05:22:40.308128,7,weekly_report.care,4dcab2af4573ced8251fb7433174ba15,0 days 00:01:46.548210

In [18]:
ans1.iloc[13622] #смотрим предыдущий шаг

forecastMarker    weekly_report.care:count_of_jivo_SA
request_time               2022-09-14 05:20:53.759918
event_id                                            6
sender                             weekly_report.care
session_id           4dcab2af4573ced8251fb7433174ba15
timedelta                      0 days 00:00:00.005893
Name: 13622, dtype: object

###  Самый большой шаг между событиями 6 и 7 за 14.09.2022, отклик более 1,5 часa

###  Дадим ответ на второй вопрос. 
#### Интервал времени до наступления какого собатия показывает наибольшй разброс?
##### Указать пару id & sender с наибольшим разбросом. Выдвинуть гипотезу с чем связано?

In [19]:
import array 
num = array.array('i',(range(2,35)))#Cоздадим массив значений от 2 до 34
mm= [] 
for j in num: #цикл вычитает из максимального шага времени минимальный у каждого евента и записывает в новый дф
    r = ans1.loc[ans1['event_id'] == j]['timedelta'] 
    mm.append([j,(max(r,default=0)-min(r,default=0))])
mm  = pd.DataFrame(mm)
mm[1] = mm[1].astype("timedelta64[ns]")
mmm = pd.DataFrame( mm[1].sort_values( ascending = False))
mmm.head(1) #5 индекс равен 7 id_event

                       1
5 0 days 00:01:45.080031

In [20]:
ans1.loc[ans1['event_id'] == 7].sort_values(by='timedelta', ascending = False).head(1) #Проверяем макс значение и мин

,forecastMarker,request_time,event_id,sender,session_id,timedelta
13623,weekly_report.care:count_of_jivo_SA,2022-09-14 05:22:40.308128,7,weekly_report.care,4dcab2af4573ced8251fb7433174ba15,0 days 00:01:46.548210

In [21]:
ans1.loc[ans1['event_id'] == 7].sort_values(by='timedelta', ascending = True).head(1)

,forecastMarker,request_time,event_id,sender,session_id,timedelta
28680,weekly_report.care:happinessScore,2022-09-13 08:43:28.186466,7,test.weekly_report.care,a37b6de85794dc3005cd21faba6e1d59,0 days 00:00:01.468179

In [22]:
event[6:7]

                                         event_name
0
7  Получили данные из BQ по полученному SQL запросу

## Самый большой разброс по времени происходит у 7 события<br> от 1,5 секунды, до почти 2х минут:<br> Имя события: "Получили данные из BQ по полученному SQL запросу" 
### sender - weekly_report.care
#### Связано это может быть с большими объемом данных полученных за неделю и необходимым временем на его обработку

_

###  Дадим ответ на третий вопрос. 
#### Какая задача прогнозирования выполняется дольше всего,название задачи?

In [23]:
sd = ans1.loc[ans1['event_id'] == 31]
ans3 = ans1[ans1["session_id"].isin(sd["session_id"])]
ans3.head(6)

,forecastMarker,request_time,event_id,sender,session_id,timedelta
0,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:29.821083,1,weekly_report.saas,0035de8fad557cfe0b187f24b954195f,0 days 00:00:00
1,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:29.831013,29,weekly_report.saas,0035de8fad557cfe0b187f24b954195f,0 days 00:00:00.009930
2,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:29.836547,2,weekly_report.saas,0035de8fad557cfe0b187f24b954195f,0 days 00:00:00.005534
3,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:31.576231,3,weekly_report.saas,0035de8fad557cfe0b187f24b954195f,0 days 00:00:01.739684
4,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:31.587533,5,weekly_report.saas,0035de8fad557cfe0b187f24b954195f,0 days 00:00:00.011302
5,weekly_report.SAAS:new_visitors:utm_medium:pre...,2022-09-12 17:11:31.594359,6,weekly_report.saas,0035de8fad557cfe0b187f24b954195f,0 days 00:00:00.006826

In [24]:
third_answer = pd.DataFrame(ans3.groupby('session_id')['timedelta']. sum ())
ta =third_answer.sort_values('timedelta')#Объеденим данные по сесси и посчитаем суммарное время, выведем самое большое время
ta.tail(1)

                                              timedelta
session_id
4dcab2af4573ced8251fb7433174ba15 0 days 00:01:52.484473

In [25]:
third_answer.head(1)

                                              timedelta
session_id
0035de8fad557cfe0b187f24b954195f 0 days 00:00:09.388732

In [26]:
(full.loc[full['session_id'] == '4dcab2af4573ced8251fb7433174ba15']).head(1)

,forecastMarker,request_time,event_id,sender,session_id
39219,weekly_report.care:count_of_jivo_SA,2022-09-14 05:20:52.203702,1,weekly_report.care,4dcab2af4573ced8251fb7433174ba15

# weekly_report.care:count_of_jivo_SA  - <br>данная задача выполняется дольше остальных

_

# Дадим ответ на пятый вопрос.
## Перечислить forecastMarker которые не завершились успешно

In [27]:
sd5 = ans1.loc[ans1['event_id'] == 31]#Найдем евенты которые завершились удачно,удачно значит наступило 31 событие

sd5 #1594 session_id uniq

sdd5 = pd.DataFrame(full['session_id'].unique()) #1599 session_id uniq
ans5 = sdd5[~sdd5[0].isin(sd5["session_id"])]#Вычтем из всех сессий удачные

In [28]:
spsk = []
for i in ans5[0]:
    n = full.loc[full['session_id'] == i]['forecastMarker']
    spsk.append(n.unique())
spsk1 = pd.DataFrame(spsk)
spsk1 #Выведем список неудачно завершившихся сессий

                                                   0
0                                               None
1                    weekly_report.SAAS:new_visitors
2                     SaaS/RUS/turnover/targetMailRu
3                        weekly_report.SAAS:turnover
4  weekly_report.SAAS:new_visitors:utm_medium:org...

## Выше предоставлен список forecastMarker которые не завершились успешно
### Из 1599 всего 5 не удавшихся

In [29]:
 # Be sure to close the connection
con.close()
print("соединение закрыто")

соединение закрыто

### Задание выполнил: Федоренко Вячеслав 
##### +79536416424